<div class="container">
    <h1>TODO List</h1>

    <div class="todo-container">
        <input 
         type="text"
         class="input-text"
         placeholder="Type a todo"
        >
        <button class="btn">ADD TODO</button>
        <div class="list">
            <ul>
                <li>
                    <input type="checkbox" class="input-checkbox" name="isDone"/>
                     <span>Task 1</span>
                     <button class="btn delete-btn">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>